@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@theme {
  --color-blue-bg: #174A3A;      /* Rich Emerald */
  --color-blue-dull: #0B2B26;    /* Deep Midnight Emerald */
  --color-gold: #A67C52;         /* Antique Gold */
  --color-dull_gold: #A67C52;

  --color-rich-emerald: #174A3A;
  --color-deep-emerald: #0B2B26;
  --color-warm-ivory: #F2E9DB;
  --color-antique-gold: #A67C52;
  --color-deep-wine: #702F3B;

  --animate-marquee: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-bullet {
  background-color: #e6ba63 !important;
  opacity: 0.5;
}
.custom-bullet-active {
  background-color: #e6ba63 !important;
  opacity: 1;
}


.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}