@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@theme{
  --color-blue-bg: #153147;
  --color-blue-dull: #232A2F;
  --color-gold: #e6ba63;
  --color-dull_gold: #C29B46;

  --animate-fade-in-up: fade-in-up 1s ease-in;

  @keyframes fade-in-up {
    0% { opacity: 0; transform: translate3d(0, 100%, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); }
  }
}
