@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@theme{
  --color-gold: #e6ba63;
  --color-dull_gold: #C29B46;
}